* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.carousel {
  display: flex;
}

.carousel__item {
  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
}

.carousel .carousel__item:nth-child(1) {
  background-image: url(https://placehold.co/600x400);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.carousel .carousel__item:nth-child(2) {
  background-color: #33cbe0;
}
.carousel .carousel__item:nth-child(3) {
  background-color: #dc3964;
}

.carousel .carousel__item:nth-child(4) {
  background-color: #ffc1a7;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.pagination {
  text-align: center;
}

.pagination span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}

.dot {
  transition: all 0.5s;
}
.dot.active {
  transform: scale(1.2);
  background-color: gray;
}

/* ANIMATE.CSS */
